body {
  margin: 0px;
}
.header {
  background-color: green;
  margin: 10px;
}

.footer {
  background-color: green;
  margin: 10px;
}

.tabs {
  display: flex;
  justify-content: space-around;
}

.tab {
  cursor: pointer;
}

.tab:hover {
  background-color: lightgreen;
}

a {
  text-decoration: none;
  color: black;
}

table {
  border-collapse: collapse;
}

table tr:nth-child(odd) {
  background-color: #bbeebb;
}

table tr:nth-child(even) {
  background-color: #ccffcc;
}

table td {
  padding-right: 50px;
}

h2 {
  padding: 0px;
  margin: 0px;
}

.content {
  padding: 10px;
}
